<body>
    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-globe-alt'></i>
            <span class="logo_name">Rest Country</span>
        </div>
        <ul class="nav-links">
            <li>
                <div class="iocn-link">
                    <a  href="#"
                        routerLink=""
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        <i class='bx bxs-chevron-down-circle'></i>
                        <span class="link_name">Rest Country</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <ul class="sub-menu">
                    <li>
                        <a  href="#"
                        routerLink=""
                        routerLinkActive="active"
                        class="link_name"
                        [routerLinkActiveOptions]="{exact:true}">
                        Buscar por pais
                        </a>
                    </li>
                    <li>
                        <a  href="#"
                        routerLink="capital"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        Buscar por capital
                        </a>
                    </li>
                    <li>
                        <a  href="#"
                        routerLink="region"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        Buscar por región
                        </a>
                    </li>
                </ul>
            </li>
            
            <li>
                <div class="iocn-link">
                    <a  href="#"
                        routerLink="historial"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">
                        <i class='bx bx-history' ></i>
                        <span class="link_name">Historial </span>
                    </a>
                </div>
            </li>
            
                <!--  -->
                <!-- <ul>
                    <li routerLink=""
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    >
                    <i class='bx bxs-chevron-down-circle'></i>
                    <span class="link_name">Buscar país</span>
                </li>
                <li routerLink="region"
                    routerLinkActive="active"
                    >
                    <i class='bx bxs-chevron-down-circle'></i>
                    <span class="link_name">Por región </span>
                </li>
                <li routerLink="capital"
                routerLinkActive="active" 
                    class="list-group-item ">
                    <i class='bx bxs-chevron-down-circle'></i>
                    <span class="link_name">Por capital</span>
                </li>
                </ul> -->
                
                 <!--  -->
                
            </ul>
    </div>
    
    <!-- <h2>Busquedas</h2>
            <hr>
            <ul class="list-group">
                <li routerLink=""
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}"
                    class="list-group-item ">
                    Buscar país
                </li>
                <li routerLink="region"
                    routerLinkActive="active"
                    class="list-group-item ">
                    Por región 
                </li>
                <li routerLink="capital"
                routerLinkActive="active" 
                    class="list-group-item ">
                    Por capital
                </li>
                    <li routerLink="historial"
                    routerLinkActive="active" 
                        class="list-group-item ">
                        Historial
                    </li> 
            </ul> -->
    
</body>

        
